modules = ["nodejs-20"]
[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 180000

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 8081
externalPort = 8081

[[ports]]
localPort = 22139
externalPort = 3000

[[ports]]
localPort = 25960
externalPort = 80

[deployment]
deploymentTarget = "autoscale"
run = ["node", "--enable-source-maps", "artifacts/api-server/dist/index.mjs"]
build = ["pnpm", "run", "build"]
